.about {
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 80px;
  }
}

.about__wrapper {
  position: relative;
  padding: 0 0 20px 250px;

  @media (max-width: $tablet-width) {
    padding-left: 175px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 320px;
    background: url("../img/background/2022.png") no-repeat;
    top: 0;
    left: 0;

    @media (max-width: $tablet-width) {
      left: -3px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/2022@2x.png");
      background-size: 150px auto;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.about__wrapper h2 {
  font-family: $roboto-condensed;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 13px;
  font-weight: 400;
  color: $color-default-black;

  @media (max-width: $tablet-width) {
    left: -3px;
    line-height: 42px;
    margin-bottom: 18px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 12px;
  }
}

.about__wrapper p {
  margin: 0;
  margin-bottom: 24px;
  color: $color-default-black;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 18px;
  }
}

.about__text-hidden-mobile {
  @media (max-width: $mobile-width) {
    display: none;

    &--active {
      display: inline;
    }
  }
}

.about__hidden-text {
  display: none;

  &--active {
    display: block;
  }
}

.about__button {
  margin-top: 15px;
  padding: 14px 15px;
  min-width: 180px;
  min-height: 45px;
  border: 1px solid $color-blue;
  border-radius: 3px;
  color: $color-blue;
  background-color: $color-extra-light-gray;
  text-transform: uppercase;
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.8px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-top: -4px;
  }

  @media (max-width: $mobile-width) {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 16px;
    min-width: 160px;
    min-height: 35px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
