.advatages {
  margin-bottom: 120px;

  @media (max-width: $mobile-width) {
    margin-bottom: 46px;
  }
}

.advatages__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 33px;
  row-gap: 29px;

  @media (max-width: $tablet-width) {
    column-gap: 30px;
  }

  @media (max-width: $mobile-width) {
    row-gap: 0;
  }
}

.advatages__item {
  position: relative;
  width: 593px;
  min-height: 300px;
  border: 1px solid $color-light-gray;
  border-left: 5px solid $color-blue;
  padding: 95px 40px 69px;
  flex-grow: 1;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    width: 47%;
    padding: 95px 4% 35px;
  }

  @media (max-width: $tablet-width) {
    width: 47.5%;
    padding: 91px 6% 29px;
  }

  @media (min-width: $mobile-resize) and (max-width: $tablet-width) {
    min-height: auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 73px 24px 35px;
    min-height: 340px;

    &:nth-child(n+3) {
      min-height: 326px;

      @media (min-width: $mobile-resize) and (max-width: $tablet-width) {
        min-height: auto;
      }
    }
  }

  &:hover {
    background-color: $color-blue;
  }
}

.advatages__item:not(:last-child) {
  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.advatages__item--tag {
  @media (min-width: $desktop-min) {
    padding: 100px 38px 69px 40px;
  }
}

.advatages__item svg {
  position: absolute;
  top: 40px;
  left: 40px;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    left: 8%;
  }

  @media (max-width: $mobile-width) {
    width: 30px;
    height: 30px;
    top: 30px;
    left: 24px;
  }
}

.advatages__item--hired svg {
  left: 41px;
}

.advatages__item--detective svg {
  top: 38px;
  left: 35px;

  @media (max-width: $tablet-width) {
    top: 40px;
    left: 40px;
  }
}

.advatages__item--tag svg {
  top: 38px;
  left: 41px;

  @media (max-width: $tablet-width) {
    top: 41px;
  }
}

.advatages__item:hover svg {
  fill: $color-default-white;
}

.advatages__item h3 {
  font-size: 24px;
  line-height: 34px;
  color: $color-blue;
  font-weight: 400;
  font-family: $roboto-condensed;
  margin: 0;
  margin-bottom: 13px;

  @media (max-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
  }
}

.advatages__item--detective h3 {
  @media (max-width: $mobile-width) {
    margin-top: 3px;
    line-height: 31px;
    margin-bottom: 9px;
  }
}

.advatages__item--tag h3 {
  margin-top: -5px;

  @media (max-width: $mobile-width) {
    margin-top: 3px;
    line-height: 30px;
    margin-bottom: 11px;
  }
}

.advatages__item:hover h3 {
  color: $color-default-white;
}

.advatages__item p {
  font-size: 16px;
  line-height: 22px;
  color: $color-default-black;
  font-weight: 400;
  margin: 0;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 19px;
  }
}

.advatages__item:hover p {
  color: $color-default-white;
}
