.modal-call {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-gray-medium-transparent;
  z-index: 2;
  overflow: scroll;

  &--open {
    display: block;
  }
}

.modal-call__container {
  position: absolute;
  width: 500px;
  min-height: 610px;
  top: 146px;
  left: 701px;
  background-color: $color-blue-another;
  padding: 39px 40px 30px;
  border-radius: 3px;
  z-index: 3;

  @media (max-width: $desktop-max) {
    left: 50%;
    transform: translate(-50%);
  }
}

.modal-call__container h2 {
  font-size: 30px;
  line-height: 42px;
  font-family: $roboto-condensed;
  font-weight: 400;
  color: $color-white;
  margin: 0;
  margin-bottom: 3px;
}

.modal-call__container p {
  font-size: 16px;
  line-height: 21px;
  color: $color-white;
  margin: 0;
  margin-bottom: 40px;
}

.modal-call__container input {
  width: 100%;
  margin-bottom: 19px;
  min-height: 50px;
  border: none;
  background-color: $color-gray-transparent;
  padding: 15px;
  padding-top: 12px;
  font-size: 16px;
  line-height: 21px;
  color: $color-white;
  border-radius: 3px;
}

.modal-call__container textarea {
  width: 100%;
  margin-bottom: 19px;
  min-height: 155px;
  border: none;
  background-color: $color-gray-transparent;
  padding: 25px 15px;
  font-size: 16px;
  line-height: 21px;
  color: $color-white;
  border-radius: 3px;
  resize: none;
}

.modal-call__container input::placeholder,
.modal-call__container textarea::placeholder {
  color: $color-white;
  opacity: 0.7;
}

.modal-call__button {
  width: 100%;
  margin-bottom: 16px;
  padding-top: 6px;
  letter-spacing: 0.5px;
  min-height: 45px;
  border: none;
  border-radius: 3px;
  background-color: $color-blue-dark;
  color: $color-white;
  font-family: $roboto-condensed;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.modal-call__checkbox-wrapper label {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: $color-white;
  padding-left: 34px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid $color-white;
    border-radius: 2px;
    left: 9px;
    top: 0;
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 7px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.modal-call__checkbox-wrapper input:checked + label {
  &::before {
    background: url("../img/svg/check.svg") center no-repeat;
  }
}

.modal-call__checkbox-wrapper input:focus + label {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 7px;
}

.modal-call__button-close {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  top: 14px;
  right: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 7px;
    width: 28px;
    height: 1px;
    background-color: $color-white;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
