.offers {
  background-color: $color-default-black;
}

.offers__header-desktop {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.offers__header-mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: inline;
  }
}

.offers__wrapper {
  padding: 67px 0 140px;

  @media (max-width: $tablet-width) {
    padding: 56px 0 75px;
  }

  @media (max-width: $mobile-width) {
    padding: 48px 0 86px;
  }
}

.offers h2 {
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-white;
  margin: 0;
  margin-bottom: 52px;

  @media (max-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 28px;
  }
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    column-gap: 7%;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 30px;
  }
}

.offers__item {
  position: relative;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    width: 28.5%;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 3px;
    background: $color-blue url("../img/svg/arrow.svg") center no-repeat;
    pointer-events: none;

    @media (max-width: $tablet-width) {
      background-position-x: 30px;
    }

    @media (max-width: $mobile-width) {
      width: 40px;
      height: 40px;
      background-image: url("../img/svg/arrow-mobile.svg");
      background-position-x: 20px;
    }
  }
}

.offers__link {
  text-decoration: none;
}

.offers__img-wrapper img {
  vertical-align: bottom;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    height: 250px;
  }
}

.offers__item h3 {
  top: 48px;
  left: 40px;
  position: absolute;
  margin: 0;
  color: $color-white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-family: $roboto-condensed;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    top: 7.7%;
    left: 11.4%;
  }

  @media (max-width: $tablet-width) {
    top: 37px;
    left: 44px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
    top: 26px;
    left: 30px;
  }
}


.offers__item--mounting h3 {
  @media (min-width: $desktop-min) {
    max-width: 165px;
  }
}

.offers__item--mounting br {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}
