.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: "PT Mono", "Courier New", monospace;
  font-weight: 400;
  font-size: 16px;
  color: $color-default-white;
  min-width: 320px;
  line-height: 21px;
  min-height: 100%;
  background-color: $color-extra-light-gray;

  &--opened-modal {
    overflow-y: hidden;
  }
}

.page__header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, $color-default-black 84.9%, transparent);
}

.page__main {
  flex: 1 0 auto;
}

.page__footer {
  background-color: $color-default-black;
  flex: 0 0 auto;
}
