.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  gap: 25px;
  margin-left: 15px;
  justify-content: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 12px;
    max-width: none;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 4px;
    margin-left: 4px;
  }
}

.social__link {
  display: block;
  width: 30px;
  height: 31px;
  background-image: url("../img/svg/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--odnoklassniki {
    background-image: url("../img/svg/odnoklassniki.svg");
  }

  &--vkontakte {
    background-image: url("../img/svg/vk.svg");
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
