.social {
  display: flex;
  gap: 25px;
  margin-left: 10px;
}

.social__link {
  display: block;
  width: 30px;
  height: 31px;
  background-image: url('../img/svg/facebook.svg');
  background-repeat: no-repeat;
  background-position: center;

  &--odnoklassniki {
   background-image: url('../img/svg/odnoklassniki.svg');
  }

  &--vkontakte {
   background-image: url('../img/svg/vk.svg');
  }
}
