@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto-medium500.woff2") format("woff2"),
    url("../fonts/roboto-medium500.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../fonts/roboto-condensed-regular400.woff2") format("woff2"),
    url("../fonts/roboto-condensed-regular400.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../fonts/roboto-condensed-bold700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-bold700.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Mono";
  src:
    url("../fonts/pt-mono-regular400.woff2") format("woff2"),
    url("../fonts/pt-mono-regular400.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
