// Colors
// ---------------------------------

// Default

$color-default-black:               #041827;
$color-default-white:               #f2f5f6;

// Project palette

$color-blue:                        #00b2ff;
$color-blue-another:                #00b3ff;
$color-blue-dark:                   #041427;
$color-white:                       #ffffff;
$color-white-medium:                #f8fdff;
$color-white-transparent:           rgba(255, 255, 255, 0.7);
$color-border-footer:               rgba(248, 253, 255, 0.7);
$color-extra-light-gray:            #f8fdff;
$color-light-gray:                  #ebebeb;
$color-gray-transparent:            rgba(4, 20, 39, 0.15);
$color-gray-medium-transparent:     rgba(3, 16, 27, 0.7);

// Display width

$desktop-max: 1919px;
$desktop-min: 1024px;
$tablet-width: 1023px;
$tablet-resize: 771px;
$mobile-width: 769px;
$mobile-resize: 321px;

// Other

$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
